header {
  font-variant: small-caps;
  text-align: center;
  border-top: solid black;
  border-bottom: solid black;
  border-width: thin;
  border-right: solid black;
  border-right-width: 10px;
}
aside {
  text-align: right;
  display: inline-block;
  position: absolute;
  top: 30px;
  right: 10px;
  border-right: solid #9e006c;
  border-right-width: 10px;
  padding: 5px;
}
aside::first-line {
  font-weight: bold;
}
h1 {
  text-align: left;
  display: inline-block;
  font-size: 40px;
}

article {
  background-image: url(WidgetCoLogo.gif);
  background-position: center;
  background-repeat: no-repeat;
  text-align: justify;
  padding-top: 30px;
  margin-left: 75px;
  margin-right: 75px;
}
h2 {
  font-style: italic;
  padding: 5px;
}
section {
  margin-bottom: 10px;
  padding: 5px;
  border: solid #478778;
  border-left-width: 20px;
  background-color: #ffffee;
}

footer {
  border-top: solid black;
  border-width: thin;
  text-align: right;
  opacity: 0.5;
  font-style: italic;
}
footer a:link {
  color: black;
}
